<div class="public-shell">
  <header class="topbar">
    <div class="brand-wrap">
      <span class="brand-mark">TH</span>
      <span class="brand-name">THE HOUSE FIT</span>
    </div>

    <nav class="main-nav">
      <a routerLink="/">Inicio</a>
      <a routerLink="/gimnasios">Gimnasios</a>
      <a routerLink="/auth/login">Login</a>
      <a routerLink="/auth/register" class="nav-cta">Registro</a>
    </nav>
  </header>

  <main class="public-content">
    <router-outlet></router-outlet>
  </main>
</div>
